{
  "admin": {
    "password": "СГЕНЕРИРОВАННЫЙ_ПАРОЛЬ",
    "role": "admin",
    "discord_id": "123456789012345678"
  },
  "den_glk": {
    "password": "СГЕНЕРИРОВАННЫЙ_ПАРОЛЬ",
    "role": "chief",
    "discord_id": "987654321098765432"
  },
  "vasya_cur": {
    "password": "СГЕНЕРИРОВАННЫЙ_ПАРОЛЬ",
    "role": "curator",
    "discord_id": "111111111111111111"
  },
  "petya_master": {
    "password": "СГЕНЕРИРОВАННЫЙ_ПАРОЛЬ",
    "role": "master",
    "discord_id": "222222222222222222"
  }
}
